{% extends 'base.html.twig' %}

{% block title %}
    MyShelf - Join us!
{% endblock %}

{% block body %}

    <h1>
        <img src="{{ asset('/Apka/app/app/web/images/mushelf.png') }}" alt="logo1" />
    </h1>

    <h2>
        Welcome to our application. You can store all your favourite media in one place. Join our family!
    </h2>

{% endblock %}